<div class="row">
    <div class="col col-md-12">
        <h4>Project Information</h4>
        <p>
            <a class="btn btn-info " [routerLink]="['/project/update', project.id]">Update</a>
            <a class="btn btn-warning ml-1" [routerLink]="['/issue', project.slug, 'create']">New Issue</a>
            <a class="btn btn-danger ml-1" href="javascript:;" (click)="delete()">Delete</a>
        </p>
        <table class="table table-striped table-bordered detail-view">
            <tbody>
            <tr>
                <th>Name</th>
                <td>
                    {{project.name}}
                </td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{project.info}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{project.status}}</td>
            </tr>
            <tr *ngIf="project.archivedAt">
                <th>Archived At</th>
                <td>{{project.archivedAt | date:'medium'}}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{project.createdAt | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="project.issues" class="col col-md-12">
        <h4>Project Issues</h4>
        <table class="table table-striped table-bordered detail-view">
            <tbody>
            <tr *ngFor="let issue of project.issues">
                <td>
                    <a [routerLink]="['/issue/view', issue.id]">{{issue.text}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
