<h3>{{title}}</h3>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Text</th>
            <th>Done</th>
            <th>Project</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let issue of issueList">
            <th><a [routerLink]="['/issue/view', issue.id]">{{issue.text}}</a></th>
            <td>{{issue.done ? 'Yes' : 'No'}}</td>
            <td>{{issue.project.name}}</td>
            <td>{{issue.createdAt | date:'medium'}}</td>
        </tr>
        </tbody>
    </table>
</div>
