<h3>{{title}}</h3>
<p>
    <a class="btn btn-info" [routerLink]="['/issue/create']">Create</a>
</p>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Text</th>
            <th>Done</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let issue of issueList">
            <th><a [routerLink]="['/issue/view', issue.id]">{{issue.text}}</a></th>
            <td>{{issue.done}}</td>
            <td>{{issue.createdAt | date:'medium'}}</td>
        </tr>
        </tbody>
    </table>
</div>
