<h3>{{title}}</h3>
<p>
    <a class="btn btn-info" [routerLink]="['/project/create']">Create</a>
</p>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projectList">
            <th><a [routerLink]="['/project/view', project.id]">{{project.name}}</a></th>
            <td>{{project.status}}</td>
            <td>{{project.createdAt | date}}</td>
        </tr>
        </tbody>
    </table>
</div>
