<h3>{{title}}</h3>
<p>
    <a class="btn btn-info" [routerLink]="['/user/create']">Create</a>
</p>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList">
            <th>{{user.firstName}}</th>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>
        </tbody>
    </table>
</div>
