<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
    <h1>Congratulations!</h1>

    <p class="lead">Welcome to {{title}} app !</p>
    <p class="lead">You have successfully created your Express powered Angular application.</p>

    <p><a class="btn btn-lg btn-success" href="http://angular.io">Get started with Angular</a></p>
    <p *ngIf="user && !user.carNumber && !user.order"><button class="btn btn-lg btn-success" (click)="orderNew()">Create new Order</button></p>
</div>
<div *ngIf="!user" class="row">
    <div class="col-md-6">
        <h3>Create new customer</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="customer-name">Name</label>
                    <input type="text" autocomplete="false" id="customer-name" class="form-control"
                           [(ngModel)]="customer.firstName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="customer-lastname">Last Name</label>
                    <input type="text" id="customer-lastname" class="form-control" [(ngModel)]="customer.lastName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="customer-phone">Phone</label>
                    <input type="text" id="customer-phone" class="form-control" [(ngModel)]="customer.phone">
                </div>
                <div class="form-group">
                    <button (click)="createUser()" [disabled]="!customer.firstName" class="btn btn-success">Become a
                        customer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Create new driver</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="driver-name">Name</label>
                    <input type="text" id="driver-name" class="form-control" [(ngModel)]="driver.firstName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="driver-lastname">Last Name</label>
                    <input type="text" id="driver-lastname" class="form-control" [(ngModel)]="driver.lastName">
                </div>
                <div class="form-group">
                    <label class="control-label" for="driver-phone">Phone</label>
                    <input type="tel" id="driver-phone" class="form-control" [(ngModel)]="driver.phone">
                </div>
                <div class="form-group">
                    <label class="control-label" for="driver-pass">Car Number</label>
                    <input type="text" id="driver-pass" class="form-control" [(ngModel)]="driver.carNumber">
                </div>
                <div class="form-group">
                    <button (click)="createDriver()" [disabled]="!driver.firstName" class="btn btn-success">Become a
                        driver
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="user && user.order" class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Status</th>
            <th>Driver</th>
            <th>Car number</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{user.order.status}}</th>
            <td>{{user.order.driver ? user.order.driver.firstName : ''}}</td>
            <td>{{user.order.driver ? user.order.driver.carNumber : ''}}</td>
            <td>{{user.order.price || ''}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="user && orders && orders.length > 0" class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Status</th>
            <th>User</th>
            <th>User Phone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
            <th>{{order.status}}</th>
            <td>{{order.customer ? order.customer.firstName : ''}}</td>
            <td>{{order.customer.phone || ''}}</td>
            <td>
                <button class="btn btn-success" (click)="approve(order)">Approve</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="user && user.activeOrder" class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Status</th>
            <th>User</th>
            <th>Phone</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{user.activeOrder.status}}</th>
            <td>{{user.activeOrder.customer ? user.activeOrder.customer.firstName : ''}}</td>
            <td>{{user.activeOrder.customer.phone || ''}}</td>
            <td>{{user.activeOrder.price || ''}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                Price
            </td>
            <td>
                <input *ngIf="user.activeOrder.status == 'process'" type="number" [(ngModel)]="user.activeOrder.price">
            </td>
            <td>
                <button [disabled]="user.activeOrder.status == 'completed' && !user.activeOrder!.price" (click)="orderStatus(user.activeOrder)">{{getNextStatus(user.activeOrder)}}</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
