<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
    <h1>Congratulations!</h1>

    <p class="lead">Welcome to {{title}} app !</p>
    <p class="lead">You have successfully created your Express powered Angular application.</p>

    <p><a class="btn btn-lg btn-success" href="http://angular.io">Get started with Angular</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <app-user-create *ngIf="!user"></app-user-create>
    </div>
    <div class="col-md-6">
        <app-driver-create *ngIf="!driver"></app-driver-create>
    </div>
</div>
