<h3>Create new issue</h3>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="issue-text">Text</label>
            <input type="text" id="issue-text" class="form-control" [(ngModel)]="issue.text">
        </div>
        <label for="issue-done">
            <input type="checkbox" id="issue-done" class="form-control" [(ngModel)]="issue.done">
            Done
        </label>
        <ul *ngIf="issue.assigners" class="list-unstyled">
            <li *ngFor="let assigner of issue.assigners">{{assigner.firstName + ' ' + assigner.lastName}}</li>
        </ul><!--
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-inline">
                    <label class="control-label" for="issue-assigners">Assigner</label>
                    <select id="issue-assigners" class="form-control" [(ngModel)]="assigner">
                        <option *ngFor="let u of users" [ngValue]="u">{{u.firstName + ' ' + u.lastName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <button (click)="assign()" class="btn btn-info ml1">Assign</button>
                </div>
            </div>
        </div>-->
        <div class="form-group">
            <button (click)="create()" [disabled]="!issue" class="btn btn-success">Create</button>
        </div>
    </div>
</div>
